name: Docker
on: 
  push:
    paths: '.github/actions/**'
  workflow_dispatch:
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0
      - uses: ./.github/actions
        id: hello-action
        with:
          who-to-greet: 'You'
      - run: echo ${{ steps.hello-action.outputs.time }}
    
  
