name: Github Actions Demo
    
on: 
  push:
    branches: 
      - main
    paths-ignore: 
      - '.github/**'
  pull_request:
    branches: 
      - main
  schedule:
    - cron: '15 6 * * 0'
  workflow_dispatch:  
    inputs:
      environment:
        required: true
        type: environment
jobs:
  build:
   runs-on: ubuntu-latest
   steps:
     - run: echo ${{github.event_name}}
     - run: echo ${{github.ref}}
     - uses: actions/checkout@v3.3.0
     - run: tree
  Test:
   runs-on: ubuntu-latest
   needs: build
   if: github.event_name == 'workflow_dispatch'
   environment: Test
   steps:
     - run: echo Testing...
  Load-Test:
   runs-on: ubuntu-latest
   needs: build
   if: github.event_name == 'workflow_dispatch'
   environment: Load-Test
   steps:
     - run: echo Testing...
     - run: sleep 5
  Production:
   runs-on: ubuntu-latest
   needs: [Test, Load-Test]
   if: github.event_name == 'workflow_dispatch' && github.event.input.environment == 'Production'
   environment: 
     name: Production
     url: https://writeabout.net
   steps:
     - run: |
         echo step 1 deploying
         sleep 5
